/* Auth Pages - Make password show icon white */

.cl-passwordInput__showPassword svg {
  color: #ffffff !important;
  fill: #ffffff !important;
}

.cl-formFieldInputShowPasswordIcon {
  color: #ffffff !important;
  fill: #ffffff !important;
}

